apiVersion: apps/v1
kind: Deployment
metadata:
  name: sentiment-api
spec:
  selector:
    matchLabels:
      app: sentiment-api
  template:
    metadata:
      labels:
        app: sentiment-api
    spec:
      containers:
      - name: sentiment-api
        image: khenchbishkhongorzul/ml-sentiment-analysis-api:d63ba2693bf3e68e49f37799f662a3c818580c5f
        ports:
        - containerPort: 8000